 
  .nav {
    &__wrapper {
      position: fixed;
      height: 70%;
      padding: 30px;
      margin-left: 2vw;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      
      width: 0;
      z-index: 11111;
      top:60vh;
      left:-2vw;
      scroll-behavior: smooth;
    }
  
    & {
      margin: 0 0 100px 30px; 
    }
    &__counter {
      font-size: 2vw;
      transition: all 0.15s ease-out;
    }
    &__title {
      font-size: 32vw;
      font-weight: 300;
      margin: 0 0 0.25em;
      width: 300px;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: height 0.3s ease-out, opacity 0.2s ease-out;
    }
    &__body {
      font-weight: 100;
      font-size: 18vw;
      font-size: 18vw;
      width: 300vw;
      height: 0;
      overflow: hidden;
      opacity: 0;
      transition: height 0.3s ease-out, opacity 0.2s ease-out;
      scroll-behavior: smooth;
    }
  
    li {
      position: relative;
      transition: all 0.7s ease-out;
      margin-bottom: 10.4vh;
  
      &:after {
        content: '';
        display: block;
        border-left: 0.1vw solid rgb(252, 246, 246);
        border-top: 0.2vh solid white;
        height: 200vh;
        width: 1vw;
        position: absolute;
        left: -2vw;
        top: 2.5vh;
      }
  
      a {
        display: block;
        padding: 0;
        color: #fffafafd;
        transition: all 0.7s ease-out;
        opacity: 0.3;
        
  
        &:hover {
          background-color: transparent;
          padding-left: 1vw;
          opacity: 1;
          transform: scale(1.1);
        }
        
      }
  
      &.active {
        pointer-events: none;
        padding-left: 1vw;
  
        &:after {
          width: 35vw;
          height: 400vh;
          top: 30vh;
        }
  
      }
  
    }
  
  }
  @media (max-width: 1200px) {
    .nav {
      display: none; 
    }
  }